<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>472671097185-36605u3log7mab7c1pr7tcsbe6cgoie6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.472671097185-36605u3log7mab7c1pr7tcsbe6cgoie6</string>
	<key>API_KEY</key>
	<string>AIzaSyDwSXgplnbvQo2gs0u7TP1kUFNxCO_2gP4</string>
	<key>GCM_SENDER_ID</key>
	<string>472671097185</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kriptofoni.news</string>
	<key>PROJECT_ID</key>
	<string>possible-cycle-314818</string>
	<key>STORAGE_BUCKET</key>
	<string>possible-cycle-314818.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<string>possible-cycle-314818</string>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:472671097185:ios:f459a9dcc4dd6f40f0f520</string>
</dict>
</plist>