.theme-light {
    --background: #fff !important;
    color: #1b1e28;
    border: 1px solid #000;
}

.theme-dark {
    --background: #1b1e28 !important;
    color: #fff !important;
}

.red-theme {
    --background: #F03D3F !important;
    color: #fff !important;
}

.pink-theme {
    --background: #D6326C !important;
    color: #fff !important;
}


.grape-theme {
    --background: #AE3ECA !important;
    color: #fff !important;
}

.violet-theme {
    --background: #7048E8 !important;
    color: #fff !important;
}

.blue-theme {
    --background: #1A7FD6 !important;
    color: #fff !important;
}

.teal-theme {
    --background: #0CA678 !important;
    color: #fff !important;
}

.green-theme {
    --background: #36B24D !important;
    color: #fff !important;
}

.yellow-theme {
    --background: #F59F01 !important;
    color: #fff !important;
}

.orange-theme {
    --background: #F76706 !important;
    color: #fff !important;
}



