<ion-header class="box-shadow">
  <ion-toolbar *ngIf="!isSearchActive">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <img src="../assets/imgs/kf.png" alt="logo" style="width:250px; margin-top:5px; margin-bottom:5px;" />
    </ion-title>
    <ion-button slot="end" class="ion-margin-end" fill="clear" (click)="setSearchActive(true, $event)">
      <ion-icon class="icon-small" name="search-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
  <ion-toolbar *ngIf="isSearchActive" class="ion-hide ion-visible">
    <ion-searchbar showCancelButton="always" [(ngModel)]="searchText" (ionClear)="setSearchActive(false, $event)"
      (ionCancel)="setSearchActive(false, $event)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>
<!-- Content -->
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content 
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circular"
      refreshingText="Yenileniyor..."></ion-refresher-content>
  </ion-refresher>

  <news-list
    #newsListSticky
   *ngIf="isStickyEnabled"
   [sticky]="featured"
   [categoryId]="categoryId"
   [tags]="tagId"
   [search]="searchText"
   [doRefresh]="doRefresh"
   (onRefreshCompleted)="onRefreshCompleted()"
   [title]="title"></news-list>

  <news-list 
    #newsList
    *ngIf="!isStickyEnabled"
    [categoryId]="categoryId"
    [tags]="tagId"
    [search]="searchText"
    [doRefresh]="doRefresh"
    (onRefreshCompleted)="onRefreshCompleted()"
    [title]="title"></news-list>
</ion-content>
<ion-footer>
  <ion-toolbar class="transparent">
    <!-- Binance Ref -->
    <ion-button expand="full" color="danger" href="https://bit.ly/3lLWJED">KRİPTO PARA BORSASI BINANCE'DA ÖMÜR<br />BOYU %20 KOMİSYON İNDİRİMİ İÇİN TIKLA!</ion-button>
  </ion-toolbar>
</ion-footer>