ion-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 150px;

  &::after {
    content: "";
    background: var(--gradient-image);
    position: absolute;
    height: 100%;
    bottom: 0;
    left: 0;
    right: 0;
  }

  ion-card-content {
    z-index: 999;
    .text-size-lg {
      font-weight: 400;
      color: var(--deco-color-primary);
    }
    .text-size-xs {
      font-weight: 400;
      color: var(--deco-color-primary);
    }
  }
}
